---
- name: "Instalação do K3s"
  hosts: all
  become: yes
  tasks:
    - name: Baixar e executar script de instalação do K3s
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--disable traefik --tls-san {{ ansible_host }} --write-kubeconfig-mode 644" sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Esperar pelo nó ficar pronto
      shell: kubectl get nodes
      register: nodes_output
      until: '"Ready" in nodes_output.stdout'
      retries: 15
      delay: 10

    - name: Garantir permissões do kubeconfig
      file:
        path: /etc/rancher/k3s/k3s.yaml
        owner: ubuntu
        group: ubuntu
        mode: '0644'