---
- name: "Instalação da Stack de Monitoramento"
  hosts: all
  become: yes
  tasks:
    - name: Garantir que o namespace de monitoramento existe
      shell: kubectl create namespace monitoring --dry-run=client -o yaml | kubectl apply -f -

    - name: Pequena pausa para estabilização
      pause:
        seconds: 10

    - name: Aplicar Operador do Prometheus
      shell: |
        kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/bundle.yaml
      
    - name: Deploy Grafana Lite
      shell: |
        kubectl apply -f https://raw.githubusercontent.com/bibinwilson/kubernetes-grafana/master/grafana-datasource-config.yaml
        kubectl apply -f https://raw.githubusercontent.com/bibinwilson/kubernetes-grafana/master/deployment.yaml
        kubectl apply -f https://raw.githubusercontent.com/bibinwilson/kubernetes-grafana/master/service.yaml